<link rel="stylesheet" href="./modules/formulaire/css/formulaire.css">
<div class="container">
    <h2>Votre Formulaire</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-lg-offset-1">
            <div class="form-group">
                <label class="control-label" for="nom">Nom</label>
                <p class="form-control" id="nom">
                    <?= $data['nom'] ?>
                </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="prenom">Prénom</label>
                <p class="form-control" id="prenom">
                    <?= $data['prenom'] ?>
                </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="tel">Tel</label>
                <p class="form-control" id="tel">
                    <?= $data['tel'] ?>
                </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <p class="form-control" id="email">
                    <?= $data['email'] ?>
                </p>
            </div>
            <div class="form-group">
                <label class="control-label" for="message">Messages</label>
                <p class="form-control" id="message">
                    <?= $data['message'] ?>
                </p>
            </div>

        </div>
    </div>
</div>